.title-text {
    color: black;
    margin-top: 20px;
    font-size: x-large;
}

.description {
    flex-direction: row;
    color: gray;
}

.row2 {
    flex-direction: row;
    margin-left: 20px;
    color: gray;
}

.description-text {
    color: gray;
}

.cost {
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 10px;
}

.card {
    display: flex;
    border-radius: 20px;
    height: 290px;
    width: 70%;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 17%;
}

.orderCard {
    display: flex;
    border-radius: 20px;
    height: 290px;
    width: 50%;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 25%;
}

.img {
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.editBtn {
    margin-left: 510px;
    margin-top: 15px;
}

.addBtn {
    margin-left: 510px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.deleteBtn {
    margin-left: 62%;
    margin-top: -35px;
    margin-bottom: 10px;
}

.infotext {
    text-align: center;
}

.formItem {
    display: flex;
}
