.orders {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rows {
    flex-direction: row;
}

.buttons {
    flex-direction: row;
    margin-left: 430px;
    margin-bottom: 10px;
}
